<div>
    <h2>Producto</h2>
    <hr />
    <table>
        <thead>
            <tr>
                <td>Producto</td>
                <td>Descripción</td>
                <td>Precio</td>
                <td>Código</td>
                <td>Stock</td>
                <td>Categoria</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{this.product.title}}</td>
                <td>{{this.product.description}}</td>
                <td>{{this.product.price}}</td>
                <td>{{this.product.code}}</td>
                <td>{{this.product.stock}}</td>
                <td>{{this.product.category}}</td>
                {{#if this.userAdminControl}}
                <td>
                    {{!-- <form action="/api/carts/{{ this.cartID }}/product/{{this.product._id}}" method="POST">
                        <button type="submit">Agregar al carrito</button>
                    </form> --}}
                    <button class="addToCartBtn" cID={{this.cartID}} data-product-id={{this.product._id}}>Agregar al
                        carrito</button>
                </td>
                {{/if}}
            </tr>
        </tbody>
    </table>
</div>

<script src="/js/addProductCart.js"></script>